# Build directories
build/
cmake-build-debug/
cmake-build-release/

# IDE directories
.idea/
.vscode/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Compiled files
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt 